<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        #content {
            text-align: center;
            padding: 20px;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}" class="navbar-item">FlaskApp</a>
        <a href="#" class="navbar-item">About</a>
        <a href="{{ url_for('main.profile') }}" class="navbar-item">
            Profile
        </a>
        <a href="{{ url_for('auth.login') }}" class="navbar-item">
            Login
        </a>
        <a href="{{ url_for('auth.signup') }}" class="navbar-item">
            Sign Up
        </a>
        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
            Logout
        </a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <script>
        function completeReading() {
          // Hide the button
            document.getElementById("completionButton").style.display = "none";
    
          // Show the completion message
            document.getElementById("completionMessage").style.display = "block";
        }
    </script>
</body>
</html>